name: Build and test

on:
  push:
  pull_request:

permissions:
  actions: read
  pull-requests: write

jobs:
  test-jvm:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Cache Gradle packages
        uses: actions/cache@v4 # Use the latest version of the cache action
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Cache build outputs
        uses: actions/cache@v4
        with:
          path: |
            **/build/classes
            **/build/kotlin
            **/build/tmp
            **/build/resources

            **/.gradle
          key: ${{ runner.os }}-build-classes-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-build-classes-${{ github.sha }}
            ${{ runner.os }}-build-classes-

      - name: Build classes
        run: ./gradlew testClasses

      - name: Run test
        run: ./gradlew test

      - name: Upload test results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-results
          path: |
            **/build/reports/tests/
          retention-days: 7

  build-native:
    runs-on: ${{ matrix.operatingSystem.runner }}
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        operatingSystem:
          - name: debian
            runner: ubuntu-24.04-arm
            architecture: aarch64
            serviceName: debian
          - name: debian
            runner: ubuntu-24.04
            architecture: x64
            serviceName: debian
    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: |
          APP_NAME="cmd-jumper"
          SERVICE_NAME="${{ matrix.operatingSystem.serviceName }}"
          ARCHITECTURE="${{ matrix.operatingSystem.architecture }}"

          docker compose build $SERVICE_NAME --build-arg ARCHITECTURE=$ARCHITECTURE
          docker compose up --no-start

      - name: Extract
        run: |
          APP_NAME="cmd-jumper"
          SERVICE_NAME="${{ matrix.operatingSystem.serviceName }}"
          ARCHITECTURE="${{ matrix.operatingSystem.architecture }}"
          BIN_NAME="$APP_NAME-$SERVICE_NAME-${{ matrix.operatingSystem.architecture }}"

          mkdir built_native_image
          docker compose cp $SERVICE_NAME:/builder/build/native/nativeCompile/$APP_NAME ./built_native_image/$BIN_NAME
          
          ls -lh built_native_image

      - name: Upload native image
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-results
          path: |
            ./built_native_image/**
          retention-days: 7
